<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta content="IE=edge" http-equiv="X-UA-Compatible">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('bundles/app/library/bootstrap/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/app/css/style.css') }}">
    </head>
    <body>
    <header>
        <div class="container">
            <nav class="header__nav">
                <ul>
                    <li>
                        <a href="{{ path('homepage') }}">Главная</a>
                    </li>
                    <li>
                        <a href="{{ path('cars') }}">Каталог</a>
                    </li>
                    <li>
                        <a href="{{ path('car_create') }}">Добавить</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
        <div id="wrapper">
            <div class="container">
                {% for flash in app.session.flashbag.get('success') %}
                    <div class="alert alert-success">{{ flash }}</div>
                {% endfor %}
                {% block body %}{% endblock %}
            </div>
        </div>
        <script src="{{ asset('bundles/app/library/jquery/jquery.min.js') }}"></script>
        <script src="{{ asset('bundles/app/js/script.js') }}"></script>
    </body>
</html>
