{% extends '@App/layout.html.twig' %}

{% block title %}UNIQOM{% endblock %}

{% block body %}
        {{ form_start(cars_form) }}
            {{ form_row(cars_form.mark, {'label': 'Марка', 'attr' : {'class': 'form-control'}}) }}
            {{ form_row(cars_form.model, {'label': 'Модель', 'attr' : {'class': 'form-control'}}) }}
            {{ form_row(cars_form.wheel, {'label': 'Положение руля', 'attr' : {'class': 'form-control'}}) }}
            {{ form_widget(cars_form.submit, { 'label': 'Добавить', 'attr': {'class': 'btn btn-primary'} })  }}
        {{ form_end(cars_form) }}
{% endblock %}

