{% extends '@App/layout.html.twig' %}

{% block title %}UNIQOM{% endblock %}

{% block body %}
        <h1>Автомобиль {{ car.mark }} {{ car.model }}</h1>
        {{ form_start(cars_form) }}
            {{ form_row(cars_form.mark, {'label': 'Марка', 'attr' : {'class': 'form-control'}}) }}
            {{ form_row(cars_form.model, {'label': 'Модель', 'attr' : {'class': 'form-control'}}) }}
            {{ form_row(cars_form.wheel, {'label': 'Положение руля', 'attr' : {'class': 'form-control'}}) }}
            {{ form_widget(cars_form.submit,{ 'label': 'Изменить', 'attr': {'class': 'btn btn-primary'} })  }}
        {{ form_end(cars_form) }}
    <a class="btn btn-danger btn-delete" href="{{ path('car_delete', {id: car.id}) }}" onclick="return confirm('Удалить Автомобиль {{ car.mark }} {{ car.model }} ?')">Удалить</a>
{% endblock %}

