{% extends '@App/layout.html.twig' %}

{% block title %}UNIQOM{% endblock %}

{% block body %}
    <div class="table table-car">
        <div class="table__head">
            <div class="table__row">
                <div class="table__cell">
                    Марка
                </div>
                <div class="table__cell">
                    Модель
                </div>
                <div class="table__cell">
                    Положение Руля
                </div>
                <div class="table__cell">
                    Статус
                </div>
            </div>
        </div>
        <div class="table__body">
            {% for car_item in cars %}
            <div class="table__row">
                <div class="table__cell" data-value="Марка">{{ car_item.mark }}</div>
                <div class="table__cell" data-value="Модель">{{ car_item.model }}</div>
                <div class="table__cell" data-value="Положение Руля">{{ car_item.wheel }}</div>
                <div class="table__cell" data-value="Статус">
                    <a href="{{ path('car_view', {id: car_item.id}) }}"><img class="table__icon" src="{{ asset('bundles/app/images/svg/view.svg') }}" alt=""></a>
                    <a href="{{ path('car_edit', {id: car_item.id}) }}"><img class="table__icon" src="{{ asset('bundles/app/images/svg/edit.svg') }}" alt=""></a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

