{% extends '@App/layout.html.twig' %}

{% block title %}UNIQOM{% endblock %}

{% block body %}
    <h1>Автомобиль {{ cars.mark }} {{ cars.model }} </h1>
    <hr>
    <div class="car__info">
        <ul>
            <li>
                Марка:  <b>{{ cars.mark }} </b>
            </li>
            <li>
                Модель: <b>{{ cars.model }}</b>
            </li>
            <li>
                Положение руля: <b>{{ cars.wheel }}</b>
            </li>
        </ul>
    </div>
{% endblock %}

