@font-face {
  font-family: 'PFDinComp';
  src: url('../fonts/PFDinTextCompPro/pfdintextcomppro-regular.ttf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'PFDinComp';
  src: url('../fonts/PFDinTextCompPro/pfdintextcomppro-bold.ttf');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'PFDinComp';
  src: url('../fonts/PFDinTextCompPro/pfdintextcomppro-light.ttf');
  font-weight: 300;
  font-style: normal;
}
.container {
  width: 1284px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
html {
  box-sizing: border-box;
  font-size: 10px;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body,
ul,
ol,
dl,
figure {
  margin: 0;
}
textarea {
  resize: vertical;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-family: 'PFDinComp';
}
p {
  font-weight: 300;
  color: #566480;
  letter-spacing: 0.04em;
  font-size: 24px;
  line-height: 34px;
}
body {
  margin: 0;
  font-family: 'PFDinComp';
  min-height: 100vh;
  font-size: 10px;
  font-weight: 400;
  color: #343434;
  background: #FBFAEF;
}
img {
  vertical-align: middle;
  max-width: 100%;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
  color: #000000;
}
a:hover,
a:focus,
a:active {
  outline: none;
  text-decoration: none;
}

section {
  font-size: 1em;
  position: relative;
}
.table-car {
  font-size: 2em;
}
.table-car img{
  width: 20px;
  margin-right: 10px;
}
.table__body .table__row:nth-of-type(2n+1) {
  background-color: #ccc;
}
.table__row {
  display: flex;
  justify-content: space-around;
}
.table__cell {
  padding: 0.5em;
  width: 100%;
  position: relative;
}
form label {
  font-size: 2em;
}
form .form-control {
  font-size: 1.6em;
  margin-bottom: 1em;
}
form .btn[type="submit"] {
  margin-top: 1em;
  font-size: 1.6em;
}
header {
  padding-top: 1em;
  padding-bottom: 1em;
}
.header__nav {
  font-size: 2em;
}
.header__nav ul {
  display: flex;
}
.header__nav li {
  margin-right: 1em;
}
#wrapper {
  margin-top: 2em;
  margin-bottom: 2em;
}
.car__info {
  font-size: 2em;
}
.btn-delete {
  font-size: 2em;
  margin-top: 1em;
}
.alert {
  font-size: 2em;
}

@media (max-width: 1200px) {
  .container {
    width: 968px;
  }
}
@media (max-width: 992px) {
  .container {
    width: 768px;
  }
}
@media (max-width: 768px) {
  .container {
    width: 100%;
  }
  .table-car .table__head {
    display: none;
  }
  .table-car .table__row {
    padding-left: 50%;
    display: block;
    margin-left: auto;
    margin-bottom: 1em;
  }
  .table-car .table__cell:before {
    content: attr(data-value);
    position: absolute;
    width: 100%;
    left: -100%;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 0.5em;
    padding-right: 0.5em;
  }

}

