{% extends '@App/layout.html.twig' %}

{% block title %}UNIQOM{% endblock %}

{% block body %}
    <div class="text-center">
        <h1>
            Каталог Автомобилей
        </h1>
       <p>Тестовое задание</p>
    </div>
{% endblock %}

